In [129]:
import numpy as np 
import pandas as pd

In [130]:
df=pd.read_csv('student_data.txt')
student_data=pd.DataFrame(df)
print(df)

               Name  Roll Number  Math  Science  English  Attendance (%)  \
0          John Doe          101    85       90       88              95
1        Jane Smith          102    78       85       92              87
2     Emily Johnson          103    93       89       85              98
3     Michael Brown          104    76       80       75              90
4       Chris Davis          105    88       82       91              94
5      Sarah Wilson          106    81       88       86              96
6         David Lee          107    74       79       84              89
7   Sophia Martinez          108    90       91       89              97
8    James Anderson          109    85       83       78              92
9     Olivia Garcia          110    89       92       94              98
10     Ethan Walker          111    75       77       80              85
11     Mia Robinson          112    91       87       93              96
12     William Hall          113    83       81       79              90
13  Charlotte Young          114    88       90       86              93
14       Henry King          115    72       75       70              87
15   Isabella Scott          116    95       94       92              99
16       Liam Adams          117    79       82       81              90
17       Ava Turner          118    86       89       88              94
18   Mason Thompson          119    77       80       79              88
19       Ella White          120    91       95       93              97

   Grade  Age  Gender        Address Phone Number                        Email
0      A   16    Male   123 Maple St     555-1234         john.doe@example.com
1      B   15  Female     456 Oak St     555-5678       jane.smith@example.com
2      A   16  Female    789 Pine St     555-9101    emily.johnson@example.com
3      C   17    Male   321 Birch St     555-1213    michael.brown@example.com
4      A   16    Male   654 Cedar St     555-1415      chris.davis@example.com
5      A   17  Female     987 Elm St     555-1617     sarah.wilson@example.com
6      B   16    Male     234 Oak St     555-1819        david.lee@example.com
7      A   16  Female  321 Willow St     555-2021  sophia.martinez@example.com
8      B   17    Male   654 Maple St     555-2223   james.anderson@example.com
9      A   15  Female    111 Pine St     555-2425    olivia.garcia@example.com
10     C   17    Male   543 Cedar St     555-2627     ethan.walker@example.com
11     A   16  Female   876 Birch St     555-2729     mia.robinson@example.com
12     B   17    Male     111 Oak St     555-2821     william.hall@example.com
13     A   15  Female   345 Maple St     555-2923  charlotte.young@example.com
14     C   17    Male    678 Pine St     555-3035       henry.king@example.com
15     A   16  Female     234 Elm St     555-3137   isabella.scott@example.com
16     B   17    Male   789 Cedar St     555-3239       liam.adams@example.com
17     A   15  Female   543 Maple St     555-3341       ava.turner@example.com
18     C   16    Male     876 Oak St     555-3443   mason.thompson@example.com
19     A   15  Female   987 Birch St     555-3545       ella.white@example.com

In [131]:
df['total_gain_marks']=df['Math']+df['Science']+df['English']
print(df)

               Name  Roll Number  Math  Science  English  Attendance (%)  \
0          John Doe          101    85       90       88              95
1        Jane Smith          102    78       85       92              87
2     Emily Johnson          103    93       89       85              98
3     Michael Brown          104    76       80       75              90
4       Chris Davis          105    88       82       91              94
5      Sarah Wilson          106    81       88       86              96
6         David Lee          107    74       79       84              89
7   Sophia Martinez          108    90       91       89              97
8    James Anderson          109    85       83       78              92
9     Olivia Garcia          110    89       92       94              98
10     Ethan Walker          111    75       77       80              85
11     Mia Robinson          112    91       87       93              96
12     William Hall          113    83       81       79              90
13  Charlotte Young          114    88       90       86              93
14       Henry King          115    72       75       70              87
15   Isabella Scott          116    95       94       92              99
16       Liam Adams          117    79       82       81              90
17       Ava Turner          118    86       89       88              94
18   Mason Thompson          119    77       80       79              88
19       Ella White          120    91       95       93              97

   Grade  Age  Gender        Address Phone Number  \
0      A   16    Male   123 Maple St     555-1234
1      B   15  Female     456 Oak St     555-5678
2      A   16  Female    789 Pine St     555-9101
3      C   17    Male   321 Birch St     555-1213
4      A   16    Male   654 Cedar St     555-1415
5      A   17  Female     987 Elm St     555-1617
6      B   16    Male     234 Oak St     555-1819
7      A   16  Female  321 Willow St     555-2021
8      B   17    Male   654 Maple St     555-2223
9      A   15  Female    111 Pine St     555-2425
10     C   17    Male   543 Cedar St     555-2627
11     A   16  Female   876 Birch St     555-2729
12     B   17    Male     111 Oak St     555-2821
13     A   15  Female   345 Maple St     555-2923
14     C   17    Male    678 Pine St     555-3035
15     A   16  Female     234 Elm St     555-3137
16     B   17    Male   789 Cedar St     555-3239
17     A   15  Female   543 Maple St     555-3341
18     C   16    Male     876 Oak St     555-3443
19     A   15  Female   987 Birch St     555-3545

                          Email  total_gain_marks
0          john.doe@example.com               263
1        jane.smith@example.com               255
2     emily.johnson@example.com               267
3     michael.brown@example.com               231
4       chris.davis@example.com               261
5      sarah.wilson@example.com               255
6         david.lee@example.com               237
7   sophia.martinez@example.com               270
8    james.anderson@example.com               246
9     olivia.garcia@example.com               275
10     ethan.walker@example.com               232
11     mia.robinson@example.com               271
12     william.hall@example.com               243
13  charlotte.young@example.com               264
14       henry.king@example.com               217
15   isabella.scott@example.com               281
16       liam.adams@example.com               242
17       ava.turner@example.com               263
18   mason.thompson@example.com               236
19       ella.white@example.com               279

In [132]:
df['percentage']=(df['total_gain_marks']/300)*100
print(df)

               Name  Roll Number  Math  Science  English  Attendance (%)  \
0          John Doe          101    85       90       88              95
1        Jane Smith          102    78       85       92              87
2     Emily Johnson          103    93       89       85              98
3     Michael Brown          104    76       80       75              90
4       Chris Davis          105    88       82       91              94
5      Sarah Wilson          106    81       88       86              96
6         David Lee          107    74       79       84              89
7   Sophia Martinez          108    90       91       89              97
8    James Anderson          109    85       83       78              92
9     Olivia Garcia          110    89       92       94              98
10     Ethan Walker          111    75       77       80              85
11     Mia Robinson          112    91       87       93              96
12     William Hall          113    83       81       79              90
13  Charlotte Young          114    88       90       86              93
14       Henry King          115    72       75       70              87
15   Isabella Scott          116    95       94       92              99
16       Liam Adams          117    79       82       81              90
17       Ava Turner          118    86       89       88              94
18   Mason Thompson          119    77       80       79              88
19       Ella White          120    91       95       93              97

   Grade  Age  Gender        Address Phone Number  \
0      A   16    Male   123 Maple St     555-1234
1      B   15  Female     456 Oak St     555-5678
2      A   16  Female    789 Pine St     555-9101
3      C   17    Male   321 Birch St     555-1213
4      A   16    Male   654 Cedar St     555-1415
5      A   17  Female     987 Elm St     555-1617
6      B   16    Male     234 Oak St     555-1819
7      A   16  Female  321 Willow St     555-2021
8      B   17    Male   654 Maple St     555-2223
9      A   15  Female    111 Pine St     555-2425
10     C   17    Male   543 Cedar St     555-2627
11     A   16  Female   876 Birch St     555-2729
12     B   17    Male     111 Oak St     555-2821
13     A   15  Female   345 Maple St     555-2923
14     C   17    Male    678 Pine St     555-3035
15     A   16  Female     234 Elm St     555-3137
16     B   17    Male   789 Cedar St     555-3239
17     A   15  Female   543 Maple St     555-3341
18     C   16    Male     876 Oak St     555-3443
19     A   15  Female   987 Birch St     555-3545

                          Email  total_gain_marks  percentage
0          john.doe@example.com               263   87.666667
1        jane.smith@example.com               255   85.000000
2     emily.johnson@example.com               267   89.000000
3     michael.brown@example.com               231   77.000000
4       chris.davis@example.com               261   87.000000
5      sarah.wilson@example.com               255   85.000000
6         david.lee@example.com               237   79.000000
7   sophia.martinez@example.com               270   90.000000
8    james.anderson@example.com               246   82.000000
9     olivia.garcia@example.com               275   91.666667
10     ethan.walker@example.com               232   77.333333
11     mia.robinson@example.com               271   90.333333
12     william.hall@example.com               243   81.000000
13  charlotte.young@example.com               264   88.000000
14       henry.king@example.com               217   72.333333
15   isabella.scott@example.com               281   93.666667
16       liam.adams@example.com               242   80.666667
17       ava.turner@example.com               263   87.666667
18   mason.thompson@example.com               236   78.666667
19       ella.white@example.com               279   93.000000

In [133]:
df['mean_marks']=df[['Math','Science','English']].mean(axis=1)
print(df[['Name', 'Math', 'Science', 'English','mean_marks']])

               Name  Math  Science  English  mean_marks
0          John Doe    85       90       88   87.666667
1        Jane Smith    78       85       92   85.000000
2     Emily Johnson    93       89       85   89.000000
3     Michael Brown    76       80       75   77.000000
4       Chris Davis    88       82       91   87.000000
5      Sarah Wilson    81       88       86   85.000000
6         David Lee    74       79       84   79.000000
7   Sophia Martinez    90       91       89   90.000000
8    James Anderson    85       83       78   82.000000
9     Olivia Garcia    89       92       94   91.666667
10     Ethan Walker    75       77       80   77.333333
11     Mia Robinson    91       87       93   90.333333
12     William Hall    83       81       79   81.000000
13  Charlotte Young    88       90       86   88.000000
14       Henry King    72       75       70   72.333333
15   Isabella Scott    95       94       92   93.666667
16       Liam Adams    79       82       81   80.666667
17       Ava Turner    86       89       88   87.666667
18   Mason Thompson    77       80       79   78.666667
19       Ella White    91       95       93   93.000000

In [134]:
df['Math_result']=df['Math'].apply(lambda x: 'Pass' if x>35 else 'Fail')
df['Science_result']=df['Science'].apply(lambda x: 'Pass' if x>35 else 'Fail')
df['English_result']=df['English'].apply(lambda x: 'Pass' if x>35 else 'Fail')
print(df)

               Name  Roll Number  Math  Science  English  Attendance (%)  \
0          John Doe          101    85       90       88              95
1        Jane Smith          102    78       85       92              87
2     Emily Johnson          103    93       89       85              98
3     Michael Brown          104    76       80       75              90
4       Chris Davis          105    88       82       91              94
5      Sarah Wilson          106    81       88       86              96
6         David Lee          107    74       79       84              89
7   Sophia Martinez          108    90       91       89              97
8    James Anderson          109    85       83       78              92
9     Olivia Garcia          110    89       92       94              98
10     Ethan Walker          111    75       77       80              85
11     Mia Robinson          112    91       87       93              96
12     William Hall          113    83       81       79              90
13  Charlotte Young          114    88       90       86              93
14       Henry King          115    72       75       70              87
15   Isabella Scott          116    95       94       92              99
16       Liam Adams          117    79       82       81              90
17       Ava Turner          118    86       89       88              94
18   Mason Thompson          119    77       80       79              88
19       Ella White          120    91       95       93              97

   Grade  Age  Gender        Address Phone Number  \
0      A   16    Male   123 Maple St     555-1234
1      B   15  Female     456 Oak St     555-5678
2      A   16  Female    789 Pine St     555-9101
3      C   17    Male   321 Birch St     555-1213
4      A   16    Male   654 Cedar St     555-1415
5      A   17  Female     987 Elm St     555-1617
6      B   16    Male     234 Oak St     555-1819
7      A   16  Female  321 Willow St     555-2021
8      B   17    Male   654 Maple St     555-2223
9      A   15  Female    111 Pine St     555-2425
10     C   17    Male   543 Cedar St     555-2627
11     A   16  Female   876 Birch St     555-2729
12     B   17    Male     111 Oak St     555-2821
13     A   15  Female   345 Maple St     555-2923
14     C   17    Male    678 Pine St     555-3035
15     A   16  Female     234 Elm St     555-3137
16     B   17    Male   789 Cedar St     555-3239
17     A   15  Female   543 Maple St     555-3341
18     C   16    Male     876 Oak St     555-3443
19     A   15  Female   987 Birch St     555-3545

                          Email  total_gain_marks  percentage  mean_marks  \
0          john.doe@example.com               263   87.666667   87.666667
1        jane.smith@example.com               255   85.000000   85.000000
2     emily.johnson@example.com               267   89.000000   89.000000
3     michael.brown@example.com               231   77.000000   77.000000
4       chris.davis@example.com               261   87.000000   87.000000
5      sarah.wilson@example.com               255   85.000000   85.000000
6         david.lee@example.com               237   79.000000   79.000000
7   sophia.martinez@example.com               270   90.000000   90.000000
8    james.anderson@example.com               246   82.000000   82.000000
9     olivia.garcia@example.com               275   91.666667   91.666667
10     ethan.walker@example.com               232   77.333333   77.333333
11     mia.robinson@example.com               271   90.333333   90.333333
12     william.hall@example.com               243   81.000000   81.000000
13  charlotte.young@example.com               264   88.000000   88.000000
14       henry.king@example.com               217   72.333333   72.333333
15   isabella.scott@example.com               281   93.666667   93.666667
16       liam.adams@example.com               242   80.666667   80.666667
17       ava.turner@example.com               263   87.666667   87.666667
18   mason.thompson@example.com               236   78.666667   78.666667
19       ella.white@example.com               279   93.000000   93.000000

   Math_result Science_result English_result
0         Pass           Pass           Pass
1         Pass           Pass           Pass
2         Pass           Pass           Pass
3         Pass           Pass           Pass
4         Pass           Pass           Pass
5         Pass           Pass           Pass
6         Pass           Pass           Pass
7         Pass           Pass           Pass
8         Pass           Pass           Pass
9         Pass           Pass           Pass
10        Pass           Pass           Pass
11        Pass           Pass           Pass
12        Pass           Pass           Pass
13        Pass           Pass           Pass
14        Pass           Pass           Pass
15        Pass           Pass           Pass
16        Pass           Pass           Pass
17        Pass           Pass           Pass
18        Pass           Pass           Pass
19        Pass           Pass           Pass

In [135]:
count=df.value_counts()
print(count)

Name             Roll Number  Math  Science  English  Attendance (%)  Grade  Age  Gender  Address        Phone Number  Email                        total_gain_marks  percentage  mean_marks  Math_result  Science_result  English_result
Ava Turner       118          86    89       88       94              A      15   Female  543 Maple St   555-3341      ava.turner@example.com       263               87.666667   87.666667   Pass         Pass            Pass              1
Charlotte Young  114          88    90       86       93              A      15   Female  345 Maple St   555-2923      charlotte.young@example.com  264               88.000000   88.000000   Pass         Pass            Pass              1
Sophia Martinez  108          90    91       89       97              A      16   Female  321 Willow St  555-2021      sophia.martinez@example.com  270               90.000000   90.000000   Pass         Pass            Pass              1
Sarah Wilson     106          81    88       86       96              A      17   Female  987 Elm St     555-1617      sarah.wilson@example.com     255               85.000000   85.000000   Pass         Pass            Pass              1
Olivia Garcia    110          89    92       94       98              A      15   Female  111 Pine St    555-2425      olivia.garcia@example.com    275               91.666667   91.666667   Pass         Pass            Pass              1
Michael Brown    104          76    80       75       90              C      17   Male    321 Birch St   555-1213      michael.brown@example.com    231               77.000000   77.000000   Pass         Pass            Pass              1
Mia Robinson     112          91    87       93       96              A      16   Female  876 Birch St   555-2729      mia.robinson@example.com     271               90.333333   90.333333   Pass         Pass            Pass              1
Mason Thompson   119          77    80       79       88              C      16   Male    876 Oak St     555-3443      mason.thompson@example.com   236               78.666667   78.666667   Pass         Pass            Pass              1
Liam Adams       117          79    82       81       90              B      17   Male    789 Cedar St   555-3239      liam.adams@example.com       242               80.666667   80.666667   Pass         Pass            Pass              1
John Doe         101          85    90       88       95              A      16   Male    123 Maple St   555-1234      john.doe@example.com         263               87.666667   87.666667   Pass         Pass            Pass              1
Jane Smith       102          78    85       92       87              B      15   Female  456 Oak St     555-5678      jane.smith@example.com       255               85.000000   85.000000   Pass         Pass            Pass              1
James Anderson   109          85    83       78       92              B      17   Male    654 Maple St   555-2223      james.anderson@example.com   246               82.000000   82.000000   Pass         Pass            Pass              1
Isabella Scott   116          95    94       92       99              A      16   Female  234 Elm St     555-3137      isabella.scott@example.com   281               93.666667   93.666667   Pass         Pass            Pass              1
Henry King       115          72    75       70       87              C      17   Male    678 Pine St    555-3035      henry.king@example.com       217               72.333333   72.333333   Pass         Pass            Pass              1
Ethan Walker     111          75    77       80       85              C      17   Male    543 Cedar St   555-2627      ethan.walker@example.com     232               77.333333   77.333333   Pass         Pass            Pass              1
Emily Johnson    103          93    89       85       98              A      16   Female  789 Pine St    555-9101      emily.johnson@example.com    267               89.000000   89.000000   Pass         Pass            Pass              1
Ella White       120          91    95       93       97              A      15   Female  987 Birch St   555-3545      ella.white@example.com       279               93.000000   93.000000   Pass         Pass            Pass              1
David Lee        107          74    79       84       89              B      16   Male    234 Oak St     555-1819      david.lee@example.com        237               79.000000   79.000000   Pass         Pass            Pass              1
Chris Davis      105          88    82       91       94              A      16   Male    654 Cedar St   555-1415      chris.davis@example.com      261               87.000000   87.000000   Pass         Pass            Pass              1
William Hall     113          83    81       79       90              B      17   Male    111 Oak St     555-2821      william.hall@example.com     243               81.000000   81.000000   Pass         Pass            Pass              1
Name: count, dtype: int64

In [136]:
greater_than_80=df[df['percentage']>60].shape[0]
less_than_50=df[df['percentage']<50].shape[0]
print(f'total students greater than 80% :{greater_than_80}')
print(f'total students less than 50% :{less_than_50}')

total students greater than 80% :20
total students less than 50% :0

In [137]:
filter=df[(df['Grade']=='A') & (df['Attendance (%)']>90)]
print(filter)

               Name  Roll Number  Math  Science  English  Attendance (%)  \
0          John Doe          101    85       90       88              95
2     Emily Johnson          103    93       89       85              98
4       Chris Davis          105    88       82       91              94
5      Sarah Wilson          106    81       88       86              96
7   Sophia Martinez          108    90       91       89              97
9     Olivia Garcia          110    89       92       94              98
11     Mia Robinson          112    91       87       93              96
13  Charlotte Young          114    88       90       86              93
15   Isabella Scott          116    95       94       92              99
17       Ava Turner          118    86       89       88              94
19       Ella White          120    91       95       93              97

   Grade  Age  Gender        Address Phone Number  \
0      A   16    Male   123 Maple St     555-1234
2      A   16  Female    789 Pine St     555-9101
4      A   16    Male   654 Cedar St     555-1415
5      A   17  Female     987 Elm St     555-1617
7      A   16  Female  321 Willow St     555-2021
9      A   15  Female    111 Pine St     555-2425
11     A   16  Female   876 Birch St     555-2729
13     A   15  Female   345 Maple St     555-2923
15     A   16  Female     234 Elm St     555-3137
17     A   15  Female   543 Maple St     555-3341
19     A   15  Female   987 Birch St     555-3545

                          Email  total_gain_marks  percentage  mean_marks  \
0          john.doe@example.com               263   87.666667   87.666667
2     emily.johnson@example.com               267   89.000000   89.000000
4       chris.davis@example.com               261   87.000000   87.000000
5      sarah.wilson@example.com               255   85.000000   85.000000
7   sophia.martinez@example.com               270   90.000000   90.000000
9     olivia.garcia@example.com               275   91.666667   91.666667
11     mia.robinson@example.com               271   90.333333   90.333333
13  charlotte.young@example.com               264   88.000000   88.000000
15   isabella.scott@example.com               281   93.666667   93.666667
17       ava.turner@example.com               263   87.666667   87.666667
19       ella.white@example.com               279   93.000000   93.000000

   Math_result Science_result English_result
0         Pass           Pass           Pass
2         Pass           Pass           Pass
4         Pass           Pass           Pass
5         Pass           Pass           Pass
7         Pass           Pass           Pass
9         Pass           Pass           Pass
11        Pass           Pass           Pass
13        Pass           Pass           Pass
15        Pass           Pass           Pass
17        Pass           Pass           Pass
19        Pass           Pass           Pass

In [138]:
age_count=df[df['Age']<16]
print(age_count)

               Name  Roll Number  Math  Science  English  Attendance (%)  \
1        Jane Smith          102    78       85       92              87
9     Olivia Garcia          110    89       92       94              98
13  Charlotte Young          114    88       90       86              93
17       Ava Turner          118    86       89       88              94
19       Ella White          120    91       95       93              97

   Grade  Age  Gender       Address Phone Number                        Email  \
1      B   15  Female    456 Oak St     555-5678       jane.smith@example.com
9      A   15  Female   111 Pine St     555-2425    olivia.garcia@example.com
13     A   15  Female  345 Maple St     555-2923  charlotte.young@example.com
17     A   15  Female  543 Maple St     555-3341       ava.turner@example.com
19     A   15  Female  987 Birch St     555-3545       ella.white@example.com

    total_gain_marks  percentage  mean_marks Math_result Science_result  \
1                255   85.000000   85.000000        Pass           Pass
9                275   91.666667   91.666667        Pass           Pass
13               264   88.000000   88.000000        Pass           Pass
17               263   87.666667   87.666667        Pass           Pass
19               279   93.000000   93.000000        Pass           Pass

   English_result
1            Pass
9            Pass
13           Pass
17           Pass
19           Pass